/* src/components/PropertyDetails.css */
.property-details {
  padding: 16px;
  font-family: Arial, sans-serif;
}

.property-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  
}

.back-button .back-icon {
  width: 24px;
  height: 24px;
}

.form-section {
  margin-top: 20px;
}

.form-section h2 {
  font-size: 20px;
  margin-bottom: 16px;
}

.form-section form {
  display: flex;
  flex-direction: column;
}

.form-section input,
.form-section textarea,
.form-section select,
.form-section button {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}
.cont{
  background: #7B2CBF;
  color: #fff;
}
.confirmation-modal {
  position: fixed;
  bottom: 0;
  flex-direction:column;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 20px;
}

.confirmation-modal p {
  margin-bottom: 20px;
}

.confirmation-modal button {
  background: #6A1B9A;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  f
}

.confirmation-modal button:hover {
  background: #7B2CBF;
}
